@font-face {
    font-family: 'GothamMedium';
    src: url('../fonts/GothamMedium.eot');
    src: url('../fonts/GothamMedium.eot') format('embedded-opentype'),
    url('../fonts/GothamMedium.woff2') format('woff2'),
    url('../fonts/GothamMedium.woff') format('woff'),
    url('../fonts/GothamMedium.ttf') format('truetype'),
    url('../fonts/GothamMedium.svg#GothamMedium') format('svg');
}

* {
    margin:0; padding:0;
    font-size:inherit;
    color:inherit;
    -webkit-font-smoothing: antialiased;
}
button::-moz-focus-inner {padding:0;border:0;}

a {
    outline:none;
    text-decoration:none;
    font-size:11px;
    color:#2d2a2b;
}
img {
    border:none;
}

html {
    height: 100%;
    font-family: GothamMedium;
}

body {
    height: 100%;
    background-image: url("../images/background.png");
}
header {
    height: 90px;
}
.container {
    width: 100%;
    max-width: 960px;
    margin: auto;
}
.logo {
    float: left;
    border-top: 3px solid #05abda;
    line-height: 87px;
}
.right-header-block {
    display: inline-block;
    float: right;
    max-width: 500px;
    position: relative;
}

.sales-info-block {
    padding-left: 10px;
    padding-right: 10px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    color: #ababab;
    background-color: #303030;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}
.sales-info-block .phone-color {
    color: #ffffff;
}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    text-transform: uppercase;
    line-height: 90px;
    margin-left: 10px;
}
nav li a {
    color: #ffffff;
    font-size: 15px;
}
nav li a i {
    color: #05abda;
}
.sales-info-block:after {
    content: " ";
    display: table;
    clear: both;
}
.carousel {
    width: 100%;
    height: 310px;
    background-image: url("../images/carusel.png");
    background-position: left bottom;
    position: relative;
}
.btn-connecting {
    background-color: rgba(17, 125, 175, 0.9);
    height: 58px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 58px;
}

div.owl-dots {
    position: absolute;
    top: 20px;
    right: 20px;
}
.owl-carousel button.owl-dot {
    width: 10px;
    height: 10px;
    background-color: rgb(17, 125, 175);
    margin-left: 10px;
    display: inline-block;
    margin-left: 10px;
}
.owl-carousel button.owl-dot:focus {
    background-color: rgba(17, 125, 175, 0.5);
    outline: none;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 70px;
    font-size: 35px;
    background-color: rgba(17, 125, 175, 0.2);
    border: solid 6px #fff;
    border-radius: 100%;
    color: #fff;
    line-height: 35px;
}
.owl-carousel .owl-nav button.owl-prev:focus, .owl-carousel .owl-nav button.owl-next:focus {
    outline: none;
}
.owl-carousel .owl-nav button.owl-prev:active, .owl-carousel .owl-nav button.owl-next:active {
    background-color: rgba(17, 125, 175, 0.5);
}
.owl-carousel .owl-nav button.owl-prev {
    top: 100px;
    left: 30px;
}
.owl-carousel .owl-nav button.owl-next {
    top: 100px;
    right: 30px;
}



